__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
.DS_Store
catboost_info/
.env
.pytest_cache/

data/raw/*
data/processed/*
data/external/*
!data/raw/**/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

trained_models/**/*
!trained_models/**/.gitkeep

results/figures/*
results/tables/*
results/metrics/*
results/explainability/*
!results/**/.gitkeep

research-papers/references/*.pdf
